<a href="https://colab.research.google.com/github/dogaince/Machine-Learning-with-Python/blob/master/sic_proj.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import spacy as sp
import nltk
import gensim as gen
import sklearn as skl
import pandas as pd

In [0]:

for i, line in enumerate(open('cordis-fp6projects.csv', 'rb')):
  print(line)
  print(len(line.split(b'\n')))
  line.decode('latin-1')
  if i == 100:
    break

In [0]:
with open('cordis-fp6projects.csv', 'rb') as f:
  df = pd.read_csv(f, sep=';', encoding='latin-1')

df['subj_split']=df['subjects'].str.replace('/', '').str.split(';')
#df.dropna(subset=['subj_split']) 
#pd.isnull(df.subj_split)
df = df[~pd.isnull(df['subj_split'])]
test = pd.DataFrame(df[['id','subj_split']])
test['subj_split']

In [0]:
from sklearn.preprocessing import MultiLabelBinarizer
mlb = MultiLabelBinarizer()

subj_mlb = mlb.fit_transform(df['subj_split'])
mlb.classes_

subj_df = pd.DataFrame(subj_mlb,columns=mlb.classes_)

In [156]:
subj_df.head()

   AER  AGR  BIO  BUS  CON  COO  EAR  ...  SEA  SOC  STA  TEC  TEL  TRA  WAS
0    0    0    0    0    0    0    0  ...    0    0    0    0    0    0    0
1    0    0    0    0    0    0    0  ...    0    0    0    0    0    0    0
2    0    0    0    0    0    0    0  ...    0    0    0    0    0    0    0
3    0    0    0    0    0    0    0  ...    0    1    0    0    0    0    0
4    0    0    0    0    0    0    0  ...    0    0    0    0    0    0    0

[5 rows x 51 columns]

In [0]:
expanded_df['subj_split'] = expanded_df['subjects'].str.replace('/', '').str.split(';')

In [0]:
#test.head()
#prod.head(n=10)
expanded_df.columns

In [0]:
#!pip  install --upgrade pandas==0.25

In [130]:
#df = test[['id','subj_split']]
pd.DataFrame([[x] + [z] for x, y in test.values for z in y],columns=test.columns)
# for multiplr columns
#s=pd.DataFrame([[x] + [z] for x, y in zip(df.index,df.B) for z in y])
#s.merge(df,left_on=0,right_index=True)

#expanded_df

#df.head()
#df.explode('subj_split2')
#unnesting(df,['subj_split2'])

TypeError: ignored

In [87]:
df.head() # this is a series not a dataframe but can convert back to dataframe like below
#pd.DataFrame(df)

                   subjects
id
27580                  /ELM
511004  /IPS;/SCI;/FOR;/ITT
500635                 /MAT
510603                  NaN
506493            /SOC;/INF

TypeError: ignored